.skills {
    padding: 60px;
    text-align: center;
    background-color: #0f172a;
    width:100%;
    min-height: 100vh;
}

.align {
    color: darkcyan;
    letter-spacing: 3px;
    text-decoration: underline;
    text-decoration-color: darkblue;
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 40px;
    padding-bottom: 50px;
}

/* Row wrapping flex container */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

/* Individual small skill cards */
.skill-card {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color:pink;
    border: 1px solid GRAY;
    padding: 12px 20px;
    border-radius: 8px;
 flex-direction: column;
    min-width: 160px;
}

/* Subtle visual pop on hover */
.skill-card:hover {
    transform: scale(1.05);
    border-color: darkmagenta;
    border-width: 5px;
}

/* Container to center and align the icons */
.skill-icon-wrap {
    font-size: 24px;
    color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Text adjustments */
.skill-name {
    font-size: 16px;
    font-weight: bold;
    color:BLACK;
}